

<main class="main">
  
    <div class="marcador">
        <button class="btnSubir" (darClick)="SubirMarcador()">Subir</button>
        <h3 class="txtContador">{{ contador }}</h3>
        <button class="btnBajar" (darClick)="BajarMarcador()">Bajar</button>    
    </div>

    <div class="marcador">
        <button class="btnSubir" (darClick)="SubirMarcador()">Subir</button>
        <h3 class="txtContador">{{ contador }}</h3>
        <button class="btnBajar" (darClick)="BajarMarcador()">Bajar</button>    
    </div>
   
</main>

  
  


